 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 140px auto 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-group-1 {
  width: 588px;
  --radius: 25px;
  height: auto;
  min-height: 65px;
  margin: 38px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 1px;
}

.u-section-2 .u-text-2 {
  margin: 73px 57px 0 675px;
}

.u-section-2 .u-text-3 {
  margin: -229px 547px 0 105px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -57px auto 0 44px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px auto 0 620px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 46px auto 0 44px;
}

.u-section-2 .u-text-7 {
  margin: -33px 547px 0 105px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 31px auto 0 44px;
}

.u-section-2 .u-text-9 {
  margin: -33px 542px 0 100px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 42px 494px 0 auto;
}

.u-section-2 .u-text-11 {
  margin: -33px 91px 47px 675px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 526px;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -531px;
    margin-right: 447px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -59px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 425px;
    margin-left: 512px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -410px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 447px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 85px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 53px;
    margin-right: 441px;
    margin-left: 94px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -198px;
    margin-right: 407px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 566px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-top: -560px;
    margin-right: 232px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 454px;
    margin-left: 392px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -439px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 232px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 221px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 312px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 346px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 399px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -484px;
    margin-right: 52px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 394px;
    margin-left: 294px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -395px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 52px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 79px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 18px;
    margin-right: 41px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -144px;
    margin-right: 234px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -17px;
    margin-left: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 451px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -690px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 549px;
    margin-left: 185px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -550px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 3px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 95px;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: -170px;
    margin-right: 147px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 920px;
}

.u-section-3 .u-group-1 {
  width: 553px;
  --radius: 25px;
  height: auto;
  min-height: 70px;
  margin: 38px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 13px -19px 0 30px;
}

.u-section-3 .u-text-2 {
  margin: 54px 20px 0 652px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -54px auto 0 591px;
}

.u-section-3 .u-text-4 {
  margin: -28px 570px 0 105px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -197px auto 0 44px;
}

.u-section-3 .u-text-6 {
  margin: 26px 20px 0 652px;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -225px auto 0 591px;
}

.u-section-3 .u-text-8 {
  margin: 114px 570px 0 105px;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -105px auto 0 46px;
}

.u-section-3 .u-text-10 {
  margin: 55px 20px 0 652px;
}

.u-section-3 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -81px auto 0 591px;
}

.u-section-3 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -6px auto 0 45px;
}

.u-section-3 .u-text-13 {
  margin: -33px 570px 0 105px;
}

.u-section-3 .u-text-14 {
  margin: -70px 20px 0 652px;
}

.u-section-3 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -52px auto 0 591px;
}

.u-section-3 .u-text-16 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 45px auto 0 46px;
}

.u-section-3 .u-text-17 {
  margin: -33px 570px 0 105px;
}

.u-section-3 .u-text-18 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -76px auto 0 591px;
}

.u-section-3 .u-text-19 {
  margin: -33px 0 0 652px;
}

.u-section-3 .u-text-20 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 2px auto 0 44px;
}

.u-section-3 .u-text-21 {
  margin: -31px 631px 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 112px;
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 487px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -86px;
    margin-right: 470px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 487px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -178px;
    margin-right: 470px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -104px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 54px;
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 487px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -38px;
    margin-right: 470px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-14 {
    margin-top: -47px;
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 487px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -38px;
    margin-right: 470px;
    margin-left: 5px;
  }

  .u-section-3 .u-text-18 {
    margin-top: -2px;
    margin-left: 487px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 452px;
  }

  .u-section-3 .u-text-20 {
    margin-top: -82px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -33px;
    margin-right: 531px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 373px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 373px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 373px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 252px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 373px;
  }

  .u-section-3 .u-text-17 {
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 373px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 232px;
  }

  .u-section-3 .u-text-21 {
    margin-right: 317px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -61px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 280px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 135px;
    margin-right: 75px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 4px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -84px;
    margin-left: 280px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 150px;
    margin-right: 75px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -253px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -78px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -113px;
    margin-left: 280px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 142px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -22px;
    margin-right: 75px;
  }

  .u-section-3 .u-text-14 {
    margin-top: -155px;
    margin-left: 72px;
  }

  .u-section-3 .u-text-15 {
    margin-left: 280px;
  }

  .u-section-3 .u-text-16 {
    margin-top: 143px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -3px;
    margin-right: 75px;
  }

  .u-section-3 .u-text-18 {
    margin-top: -154px;
    margin-left: 280px;
  }

  .u-section-3 .u-text-19 {
    margin-top: -24px;
    margin-left: 52px;
  }

  .u-section-3 .u-text-20 {
    margin-top: 84px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -30px;
    margin-right: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 195px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 176px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -198px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 234px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: -225px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -106px;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 152px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-top: -81px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -88px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -48px;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-top: 75px;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 176px;
  }

  .u-section-3 .u-text-16 {
    margin-top: -88px;
  }

  .u-section-3 .u-text-17 {
    margin-top: -29px;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-top: 101px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-19 {
    margin-top: -49px;
    margin-left: 0;
  }

  .u-section-3 .u-text-20 {
    margin-top: -146px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -55px;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 840px;
}

.u-section-4 .u-group-1 {
  width: 414px;
  --radius: 25px;
  height: auto;
  min-height: 72px;
  margin: 32px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 13px -9px 0 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 75px auto 0 44px;
}

.u-section-4 .u-text-3 {
  margin: 32px 104px 0 44px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 56px auto 0 44px;
}

.u-section-4 .u-text-5 {
  margin: 18px 20px 0 130px;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -26px auto 0 93px;
}

.u-section-4 .u-text-7 {
  margin: 17px -22px 0 130px;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -26px auto 0 93px;
}

.u-section-4 .u-text-9 {
  margin: 15px -22px 0 130px;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -26px auto 0 93px;
}

.u-section-4 .u-text-11 {
  margin: 17px -22px 0 130px;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -26px auto 0 93px;
}

.u-section-4 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 47px auto 0 46px;
}

.u-section-4 .u-text-14 {
  margin: 13px 105px 60px 44px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 475px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: -14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: -88px;
  }

  .u-section-4 .u-text-14 {
    margin: 165px 0 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-right: 255px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-3 {
    margin-right: 75px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -35px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -157px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -8px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -6px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -89px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 178px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: -10px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -50px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -81px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -169px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 152px;
    margin-bottom: 22px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 777px;
}

.u-section-5 .u-group-1 {
  width: 478px;
  --radius: 25px;
  height: auto;
  min-height: 83px;
  margin: 44px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px -22px 0 33px;
}

.u-section-5 .u-text-2 {
  margin: 44px 0 0 693px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -115px 457px 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -19px auto 0 20px;
}

.u-section-5 .u-text-5 {
  margin: -33px 570px 0 61px;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px auto 0 14px;
}

.u-section-5 .u-text-7 {
  margin: -33px 570px 0 61px;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -158px 458px 0 auto;
}

.u-section-5 .u-text-9 {
  margin: -33px 0 0 693px;
}

.u-section-5 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -20px auto 0 20px;
}

.u-section-5 .u-text-11 {
  margin: -33px 570px 60px 61px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 493px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 377px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 378px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 493px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 431px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 273px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 289px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 211px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 211px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 290px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 273px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 93px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 217px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 31px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 31px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 218px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 93px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 137px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 137px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }

  .u-section-5 .u-text-11 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 906px;
}

.u-section-6 .u-group-1 {
  width: 632px;
  --radius: 25px;
  height: auto;
  min-height: 64px;
  margin: 36px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 10px -18px 0 30px;
}

.u-section-6 .u-text-2 {
  margin: 78px 570px 0 105px;
}

.u-section-6 .u-text-3 {
  margin: -312px 0 0 675px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -144px auto 0 44px;
}

.u-section-6 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -32px auto 0 620px;
}

.u-section-6 .u-text-6 {
  margin: 298px 570px 0 105px;
}

.u-section-6 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -312px auto 279px 44px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 470px;
    margin-left: 5px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 475px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 511px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 470px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-right: 255px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 255px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 391px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 255px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 75px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 293px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 184px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 648px;
}

.u-section-7 .u-group-1 {
  width: 362px;
  --radius: 25px;
  height: auto;
  min-height: 83px;
  margin: 49px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px -22px 0 33px;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 52px 457px 0 auto;
}

.u-section-7 .u-text-3 {
  margin: -33px 0 0 693px;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -57px auto 0 20px;
}

.u-section-7 .u-text-5 {
  margin: -33px 557px 0 74px;
}

.u-section-7 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -11px 458px 0 auto;
}

.u-section-7 .u-text-7 {
  margin: -33px 0 0 693px;
}

.u-section-7 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -87px auto 0 13px;
}

.u-section-7 .u-text-9 {
  margin: -33px 570px 0 61px;
}

.u-section-7 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 33px auto 0 20px;
}

.u-section-7 .u-text-11 {
  margin: -33px 570px 60px 61px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 377px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 493px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 378px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 493px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-7 .u-text-11 {
    margin-right: 431px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    margin-right: 289px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 273px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 211px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 290px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 273px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 211px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    margin-right: 217px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 93px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 31px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 218px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 93px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 31px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 137px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 137px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 658px;
}

.u-section-8 .u-group-1 {
  width: 241px;
  --radius: 25px;
  height: auto;
  min-height: 72px;
  margin: 38px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 11px -9px 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 23px 98px 0 50px;
}

.u-section-8 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 18px auto 0 99px;
}

.u-section-8 .u-text-4 {
  margin: -32px 42px 0 155px;
}

.u-section-8 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px auto 0 99px;
}

.u-section-8 .u-text-6 {
  margin: -31px -11px 0 159px;
}

.u-section-8 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 29px auto 0 103px;
}

.u-section-8 .u-text-8 {
  margin: -29px -7px 0 155px;
}

.u-section-8 .u-text-9 {
  margin: 65px 98px 0 50px;
}

.u-section-8 .u-text-10 {
  margin: 26px 452px 0 154px;
}

.u-section-8 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -27px auto 0 117px;
}

.u-section-8 .u-text-12 {
  margin: 17px 437px 0 154px;
}

.u-section-8 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px auto 0 117px;
}

.u-section-8 .u-text-14 {
  margin: 15px 452px 0 154px;
}

.u-section-8 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px auto 56px 117px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 26px;
    margin-right: 475px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 128px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: -161px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-top: -8px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-9 {
    margin-top: -9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-10 {
    margin-top: -16px;
    margin-left: 54px;
    margin-right: 352px;
  }

  .u-section-8 .u-text-11 {
    margin-top: -26px;
  }

  .u-section-8 .u-text-12 {
    margin-top: 40px;
    margin-left: 54px;
    margin-right: 337px;
  }

  .u-section-8 .u-text-14 {
    margin-top: -14px;
    margin-left: 54px;
    margin-right: 352px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-right: 255px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 157px;
  }

  .u-section-8 .u-text-5 {
    margin-top: -190px;
  }

  .u-section-8 .u-text-10 {
    margin-top: -45px;
    margin-left: 0;
    margin-right: 186px;
  }

  .u-section-8 .u-text-12 {
    margin-left: 0;
    margin-right: 171px;
  }

  .u-section-8 .u-text-14 {
    margin-left: 0;
    margin-right: 186px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    margin-right: 75px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -113px;
  }

  .u-section-8 .u-text-5 {
    margin-top: -157px;
  }

  .u-section-8 .u-text-7 {
    margin-top: -3px;
  }

  .u-section-8 .u-text-9 {
    margin-top: -34px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 202px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-11 {
    margin-top: -35px;
  }

  .u-section-8 .u-text-12 {
    margin-top: -157px;
    margin-right: 0;
  }

  .u-section-8 .u-text-14 {
    margin-top: -8px;
    margin-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: 56px;
  }

  .u-section-8 .u-text-7 {
    margin-top: -29px;
  }

  .u-section-8 .u-text-9 {
    margin-top: -38px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 45px;
    margin-right: 0;
  }

  .u-section-8 .u-text-11 {
    margin-top: -10px;
    margin-left: 74px;
  }

  .u-section-8 .u-text-12 {
    margin-top: -50px;
  }

  .u-section-8 .u-text-13 {
    margin-left: 74px;
  }

  .u-section-8 .u-text-14 {
    margin-top: -81px;
    margin-right: 0;
  }

  .u-section-8 .u-text-15 {
    margin-left: 74px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1729px;
}

.u-section-9 .u-group-1 {
  width: 1022px;
  --radius: 25px;
  height: auto;
  min-height: 69px;
  margin: 51px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 -715px 0 33px;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 65px auto 0 20px;
}

.u-section-9 .u-text-3 {
  margin: 11px 20px 0 81px;
}

.u-section-9 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-5 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-7 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-9 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-11 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-13 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-15 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -54px auto 0 51px;
}

.u-section-9 .u-text-17 {
  margin: 52px 20px 0 81px;
}

.u-section-9 .u-text-18 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -111px auto 0 52px;
}

.u-section-9 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 109px auto 0 55px;
}

.u-section-9 .u-text-20 {
  margin: -22px 20px 0 81px;
}

.u-section-9 .u-text-21 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-22 {
  margin: 20px 20px 0 81px;
}

.u-section-9 .u-text-23 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0 20px;
}

.u-section-9 .u-text-24 {
  margin: 24px 20px 0 81px;
}

.u-section-9 .u-text-25 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -86px auto 0 53px;
}

.u-section-9 .u-text-26 {
  margin: 80px 20px 0 81px;
}

.u-section-9 .u-text-27 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -69px auto 0 53px;
}

.u-section-9 .u-text-28 {
  margin: 67px 20px 0 81px;
}

.u-section-9 .u-text-29 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -22px auto 60px 53px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-26 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-text-28 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 787px;
}

.u-section-10 .u-group-1 {
  width: 588px;
  --radius: 25px;
  height: auto;
  min-height: 65px;
  margin: 38px auto 0;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-10 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 74px auto 0 620px;
}

.u-section-10 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px auto 0 44px;
}

.u-section-10 .u-text-4 {
  margin: -32px 0 0 675px;
}

.u-section-10 .u-text-5 {
  margin: -105px 553px 0 100px;
}

.u-section-10 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 44px auto 0 44px;
}

.u-section-10 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 471px 0 auto;
}

.u-section-10 .u-text-8 {
  margin: -33px 82px 0 684px;
}

.u-section-10 .u-text-9 {
  margin: -71px 570px 0 82px;
}

.u-section-10 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 35px auto 0 44px;
}

.u-section-10 .u-text-11 {
  margin: 15px 570px 60px 71px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-text-2 {
    margin-top: 544px;
    margin-left: 511px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -537px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 459px;
    margin-left: 105px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -537px;
    margin-right: 452px;
    margin-left: 105px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 40px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 229px;
    margin-right: 388px;
  }

  .u-section-10 .u-text-8 {
    margin-right: 20px;
    margin-left: 566px;
  }

  .u-section-10 .u-text-9 {
    margin-top: -406px;
    margin-right: 452px;
    margin-left: 105px;
  }

  .u-section-10 .u-text-10 {
    margin-top: 114px;
  }

  .u-section-10 .u-text-11 {
    margin: 25px 441px 18px 94px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    margin-top: 573px;
    margin-left: 391px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -566px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -566px;
    margin-right: 232px;
  }

  .u-section-10 .u-text-7 {
    margin-right: 297px;
  }

  .u-section-10 .u-text-8 {
    margin-left: 346px;
  }

  .u-section-10 .u-text-9 {
    margin-right: 232px;
  }

  .u-section-10 .u-text-11 {
    margin-right: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 468px;
    margin-left: 293px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -509px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 380px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -491px;
    margin-right: 52px;
  }

  .u-section-10 .u-text-6 {
    margin-top: -62px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 184px;
    margin-right: 223px;
  }

  .u-section-10 .u-text-8 {
    margin-top: -17px;
    margin-left: 166px;
  }

  .u-section-10 .u-text-9 {
    margin-top: -335px;
    margin-right: 52px;
  }

  .u-section-10 .u-text-10 {
    margin-top: 105px;
  }

  .u-section-10 .u-text-11 {
    margin-top: -8px;
    margin-right: 41px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    margin-top: 597px;
    margin-left: 184px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -638px;
  }

  .u-section-10 .u-text-4 {
    margin-top: 399px;
  }

  .u-section-10 .u-text-5 {
    margin-top: -696px;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-top: -29px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 338px;
    margin-right: 140px;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
  }

  .u-section-10 .u-text-9 {
    margin-top: -489px;
    margin-right: 0;
  }

  .u-section-10 .u-text-10 {
    margin-top: 80px;
  }

  .u-section-10 .u-text-11 {
    margin-top: 18px;
    margin-right: 0;
    margin-bottom: 5px;
  }
}